---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/BARANDAS.jpg";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="en">

  <HeroSection
    title=`Welcome to <span
        class="text-yellow-500 dark:text-yellow-400">EMA</span> <br> where we design your dreams`
    subTitle="We believe that each project is an opportunity to transform ideas into unique spaces that connect with people and the environment."
    primaryBtn="Proyects"
    primaryBtnURL="/products"
    secondaryBtn="Contact us"
    secondaryBtnURL="/contact"
    src={}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesGeneral
    title="Who are we?"
    subTitle="EMA S.A.S. is a cutting-edge company in constant search of innovation that allows us to respond to the needs of our clients and their sectors with the correct application of new technologies without leaving aside traditional processes. We are dedicated to providing civil engineering and architectural services; we optimize spaces and provide customized turnkey solutions that adapt to any need under modern and attractive designs. We have trained personnel, with values ​​and attitudes that generate a greater degree of responsibility and quality when designing and building dreams."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "1.",
        content:
          "We believe in excellence. Our way of doing things is to do things as well as possible.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "2.",
        content:
          "We work to build customer loyalty as the axis of sustainable growth in the short and long term.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "3.",
        content:
          "We believe in the power of people, together with strong leadership, through an inclusive environment where differences are valued as a force to overcome difficulties.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "4.",
        content:
          "Innovation is present in each of our actions.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "5.",
        content:
          "We are passionate about solving problems that no one has solved before.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

</MainLayout>
